/* 
    Document   : layout
    Created on : Mar 20, 2010, 1:40:37 PM
    Author     : Jonathan Siler
    Description:
        This file containes the root css definitions for the page. The styles for the actual twirlybox itself will be stored in boxes.css.
		This will also be the core file definition that will be rewritten to control overrides for the "page" separate from the twirlboxes themselves.
*/

* {padding:0; margin:0;}/* reset all padding and margins */
body {font-family: Helvetica, Arial, verdana, sans-serif;margin:0; padding:0; background:none; background-color:#fffde8; position: relative; text-align: center;/*background-color:#e2e5cf;*/}
.container_12 {width:960px; margin:0 auto;text-align: left;}
a:hover {text-decoration: underline;}
#top {text-align:left; border-top: 2px solid #f5cc87; height:33px; position:fixed; top:0; left:0; padding: 0px; width:100%; z-index: 45;margin:0; background: #faa833 url('../images/top_bar_bkg.png') repeat-x bottom left;}
#top .name {float:left; font-weight: bold; margin: 10px 0 0 100px; color:#333;}
#top .pict {float:left;}
#top #twit {float:right; margin: 0 100px 0 0;}
#header {background:transparent; height: 150px; position:relative; top:0; left:0; margin-top:50px;}
#menu {top:0; left:0;}
#menu li a {
  color: orange;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  line-height: 42px;
  text-decoration: none;
}

#menu li a:hover{
  color: #ad5123;
  text-decoration: underline;
}
#body {background:none; background-color:#fffde8;}
#main {width:auto;margin:0 auto;padding:30px 0 50px;}
#new {width:auto; text-align: center;}
#footer {clear: both; background: none; }