#user_name{:style=>"display:none;"}= @user.twitter_name

#main
  #vault.container
    %h2 items

    - @items.each do |item|
      .sprite{:id=>item.id}
        %img{:src=>item.item_type.icon.picture,:width=>"75px"} 
        = item.item_type.name  

    %br{:style=>"clear:left;"}

  #friends.container    
    %h2 friends

    #friends_bin

      %br{:style=>"clear:left;"}

.clear