%h2
  = controller.controller_name.upcase
  #user_name= @user.twitter_name

.clear
.grid_12.divider.nomargin
.clear

#main
  #vault.container
    %h2 Your Items

    - @items.each do |item|
      .sprite{:id=>item.id}
        %img{:src=>item.item_type.icon.picture,:width=>"75px"} 
        = item.item_type.name  

    %br{:style=>"clear:left;"}

  #friends.container    
    %h2 Your Friends

    #friends_bin

    %br{:style=>"clear:left;"}

.clear
.grid_12.divider.nomargin
.clear


