
	  <form name="vaults" id="vaults" method="post" action="" >
		  
	  <div id="main">
		  <div id="master" class="container">
			
			  <h3>@you</h3>
			   <!-- this list of items to share will be replaced by dynamic data (AJAX) -->
			  <div id="unique_1" class="sprite"></div>
			  <div id="unique_2" class="sprite"></div>
			  <div id="unique_3" class="sprite"></div>
			  <div id="unique_4" class="sprite"></div>
			  <div id="unique_5" class="sprite"></div>
			  <div id="unique_6" class="sprite"></div>
			  <div id="unique_7" class="sprite"></div>
			  <div id="unique_8" class="sprite"></div>
			  <div id="unique_9" class="sprite"></div>
			  <div id="unique_10" class="sprite"></div>
			  <div id="unique_11" class="sprite"></div>
			  <div id="unique_12" class="sprite"></div>
			  <div id="unique_13" class="sprite"></div>
			  <div id="unique_14" class="sprite"></div>
			  <div id="unique_15" class="sprite"></div>
			  <div id="unique_16" class="sprite"></div>
			  <div id="unique_17" class="sprite"></div>
			  <br style="clear:left;" />

		  </div>
		<div id ="share" class="container">
		<label for="users"><input type="submit" name ="submit" value="Share Items Now:" class="submit"/></label>
		  <select name="users" >
			  <option >-- Pick a Follower --</option>
			  <!-- this select list will be replaced by dynamic data (AJAX) -->
				  
		  </select>
		  <br style="clear:left;" />
		</div>
