#user_name{:style=>"display:none;"}= @user.twitter_name

#vault.container
  %h2 Your Twitter Badges

  - @events.each do |event|
    - if event.event_type.icon.icon_type.name !~ /Gowalla/     
      %p
        %a{:href=>"http://twitter.com/#{@user.twitter_name}/status/#{event.twitter_status_id}" }
          .sprite
            %img{:src=>event.event_type.icon.picture, :width=>75} 
            #{event.event_type.name}  

  %br{:style=>"clear:left;"}
